@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body {
    background: #b5cad6;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.container {
    width: 360px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 40px;
}

.tbox {
    width: 260px;
    height: 40px;
    background: #f1f1f1b3;
    border-radius: 10px;
    margin: 10px auto;
}

.tbox input {
    background: none;
    outline: none;
    border: none;
    text-align: center;
    width: 90%;
    line-height: 37px;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #333;
}

.btn {
    width: 260px;
    height: 40px;
    background: #70a4b1;
    border-radius: 10px;
    margin: 14px auto;
    display: block;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background: #00000040;
}

a:hover {
    background: #00000040;
}

.fb {
    background-color: rgb(59, 99, 184);
    color: white;
    text-align: center;
    line-height: 45px
}

h2 {
    color: #333;
}

p {
    color: #333;
}

hr {
    margin-top: 20px;
    width: 80%;
}

.or {
    background: #b5cad6;
    width: 30px;
    margin: -19px auto 10px;
    color: #333;
}

.backbtn {
    position: absolute;
    float: left;
    top: 0;
    color: #333;
}